.item {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  list-style: none;
  border: 1px solid black;
  width: 50vw;
  max-width: 600px;
}
.online {
  width: 2vw;
  max-width: 10px;
  height: 2vw;
  max-height: 10px;
  background-color: green;
  border-radius: 50%;
  margin: 15px;
}
.offline {
  width: 2vw;
  max-width: 10px;
  height: 2vw;
  max-height: 10px;
  background-color: red;
  border-radius: 50%;
  margin: 15px;
}
.avatar {
  max-height: 150px;
  max-width: 150px;
  height: 100%;
  width: 10vw;
  margin: 20px;
}
.name {
  font-size: 3vw;
}
